<form class="login100-form validate-form" action="/auth/AuthController.js" method = "Post">
    <span class="login100-form-title p-b-26">
        Welcome
    </span>
    <span class="login100-form-title p-b-53">
        <i class='zmdi zmdi-font'></i>
    </span>
    <p class="errr"><%=error%></p>
    <p class="succ"><%=msg%></p>
</form>