<html>
    <head><h3>Add Sports</h3></head>
    <body>
        <form method="POST">
            <p>
                <label>
                    Title
                    <input type="text" placeholder="title" name="title"/>
                </label>
            </p>
            <p>
                <label>
                    Description
                    <textarea type="text" placeholder="description" name="description"></textarea>
                </label>
            </p>
            <p>
                <label>
                    Url
                    <input type="url" placeholder="url" name="url"/>
                </label>
            </p>
            
            <p>
                <label>
                    Url to image
                    <input type="url" placeholder="urltoimage" name="urltoimage"/>
                </label>
            </p>

            <br>
            <button type="submit">ADD</button><button type="reset">RESET</button>
        </form>
    </body>
</html>