<html>
    <head><h3>Contact Us</h3></head>
    <body>
        <form method="POST">
            <p>
                <label>
                    Email
                    <input type="text" placeholder="email" name="qemail"/>
                </label>
            </p>
            <p>
                <label>
                    Query
                    <textarea type="text" placeholder="query" name="query"></textarea>
                </label>
            </p>
                        <br>
            <button type="submit">SUBMIT</button><button type="reset">RESET</button>
        </form>
    </body>
</html>