<!DOCTYPE html>  
<html> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  
  </style>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#">Update 24x7 News</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="http://localhost:9001/home">Home</a></li>
          <li><a href="http://localhost:9001/sports">Sports</a></li>
          <li><a href="http://localhost:9001/aboutus">About</a></li>
          <li class="active"><a href="#">Contact</a></li>
          <div class = "weather"><li style="text-align: center;"><p id="demo"></p></li></div>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://localhost:9002/index.html">Chat</a></li>
          <li><a href="http://localhost:9001/user/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <meta charset="utf-8" />  
  <title>Update 24x7</title>  
  <style type="text/css">   
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
      padding: 25px;
      margin-top: 200px;
      position:relative;
       bottom:0;
       width: 100%;
  }

      

  </style>  
    
    <head><h1>Contact Us</h1></head>
    <body style="text-align: center;">
        <!-- <form method="POST">
            <p>
                <label>
    
                    <input type="text" placeholder="email" name="qemail"/>
                </label>
            </p>
            <p>
                <label>
                    
                    <textarea type="text" placeholder="Query" name="query"></textarea>
                </label>
            </p>
                        <br>
            <button type="submit">SUBMIT</button><button type="reset">RESET</button>
        </form> -->

        <form method="POST" style="padding: 10%">
          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" placeholder="Enter email" name="qemail">
          </div>
          <div class="form-group">
            <label for="query">Concern:</label>
            <textarea type="text" class="form-control" rows="6" placeholder="Ask your question here.." name="query"></textarea>
          </div>
          <button type="reset" class="btn btn-primary" style="width: 20%">Reset</button>
          <button type="submit" class="btn btn-primary" style="width: 20%">Submit</button>
          
        </form>
        <br><br><br>
    </body>
    <footer class="container-fluid text-center">
      <a href="http://localhost:9001/aboutus">Developed by team HISSS</a>
    </footer>
</html>