
<html>
    <head><h3>This will be our home/main customer frontend page</h3></head>
    <body>
        <p> <!DOCTYPE html>
            <html>
            <body>
            
            <h2>Links</h2>

            <p><a href="/user/signup">User Signup</a> is a link to User Signup (ADMIN)....</p>

            <p><a href="/user/login">User Login</a> is a link to User Login (ADMIN)....</p>

            <p><a href="/news">Add News</a> is a link to Add News (ADMIN)....</p>

            <p><a href="/news/newslist">News List</a> is a link to see News List (ADMIN)....</p>
            
            <p><a href="/weather/location">Local Weather</a> is a link to the weather app... </p>
            
            <p><a href="localhost:9002/">Chat</a> is a link to the chat app....go to address bar & hit enter</p>
            
            </body>
            </html>
            </p>
    </body>
</html>
