<!DOCTYPE html>
<html>
    <head>
        <style>
            ul#horizontal-list{
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333333;
            }
            ul#horizontal-list li {
                float: left;
            }
            ul#horizontal-list li a{
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
            ul#footList{
                list-style: none;
            }
        </style>

        <ul id="horizontal-list">
        <li><a href="/home">Home</a></li>
        <li><a href="/sports">Sports</a></li>
        <li><a href="/contactUs">Contact Us</a></li>
        <li><a href="/aboutUs">About Us</a></li>


        <li><a href="/user/signup">User Signup</a></li>
        <li><a href="/user/login">User Login</a></li>
        <li><a href="/weather/location">Local Weather</a></li>
        
        <li><a href="localhost:9002/">Chat</a></li>
    </ul></head>
    <body>





    </body>
    <footer>
        <ul id="footList">
            <li>Copyrights:2020 as per Rona Rules</li>
            <li>Number: 555-Not-Real</li>
        </ul>
    </footer>
</html>
