<style>

    ul#horizontal-list{
        min-width: 696px;
        list-style: none;
        padding-top: 20px;
    }
    ul#horizontal-list li {
        display: inline;
    }
</style>

<html>
    <head><ul id="horizontal-list">
        <li><a href="/user/signup">User Signup</a></li>
        <li><a href="/user/login">User Login</a></li>
        <li><a href="/weather/location">Local Weather</a></li>
        <li><a href="localhost:9002/">Chat</a></li>
    </ul></head>
    <body>

    </body>
</html>
