
<html>
    <head><h3>This will be our home/main customer frontend page</h3></head>
    <body>
        <p> <!DOCTYPE html>
            <html>
            <body>
            
            <h2>Links</h2>

            <p><a href="localhost:9001/user/signup">User Signup</a> is a link to User Signup....go to address bar & hit enter</p>

            <p><a href="localhost:9001/user/login">User Login</a> is a link to User Login....go to address bar & hit enter</p>
            
            <p><a href="localhost:9001/weather/location">Local Weather</a> is a link to the weather app... go to address bar & hit enter</p>
            
            <p><a href="localhost:9002/">Chat</a> is a link to the chat app....go to address bar & hit enter</p>
            
            </body>
            </html>
            </p>
    </body>
</html>
