<!-- 
<html>
    <head><h3>This will be our home/main customer frontend page</h3>
    
        <style>
        </style>
    
    </head>
    <body>
        <p> <!DOCTYPE html>
            <html>
            <body>
            
            <h2>Links</h2>

            <p><a href="/user/signup">User Signup</a> is a link to User Signup (ADMIN)....</p>

            <p><a href="/user/login">User Login</a> is a link to User Login (ADMIN)....</p>

            <p><a href="/news">Add News</a> is a link to Add News (ADMIN)....</p>

            <p><a href="/news/newslist">News List</a> is a link to see News List (ADMIN)....</p>
            
            <p><a href="/weather/location">Local Weather</a> is a link to the weather app... </p>
               
            <p><a href="localhost:9002/">Chat</a> is a link to the chat app....go to address bar & hit enter</p>
            
            </body>
            </html>
            </p>
    </body>
    <footer></footer>
</html> -->

<!DOCTYPE html>  
<html>  
<head>  
    <meta charset="utf-8" />  
    <title>My Slider</title>  
    <style type="text/css">   
        .showSlide {  
            display: none  
        }  
            .showSlide img {  
                width: 100%; 
                max-height: 200px;
                max-width: 400px;
            }  
        .slidercontainer {  
            max-width: 400px; 
            max-height: 200px; 
            position: relative;  
            margin: auto;  
        }  
        .left, .right {  
            cursor: pointer;  
            position: absolute;  
            top: 50%;  
            width: auto;  
            padding: 16px;  
            margin-top: -22px;  
            color: white;  
            font-weight: bold;  
            font-size: 18px;  
            transition: 0.6s ease;  
            border-radius: 0 3px 3px 0;  
        }  
        .right {  
            right: 0;  
            border-radius: 3px 0 0 3px;  
        }  
            .left:hover, .right:hover {  
                background-color: rgba(115, 115, 115, 0.8);  
            }  
        .content {  
            color: #eff5d4;  
            font-size: 30px;  
            padding: 8px 12px;  
            position: absolute;  
            top: 10px;  
            width: 100%;  
            text-align: center;  
        }  
        .active {  
            background-color: #717171;  
        }  

    </style>  

<body onload="getLocation()"></body>
<p id="demo"></p>
<p id="temp"></p>

</head>  
<body>  

    <script>
        var x = document.getElementById("demo");
        
        function getLocation() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
          } else { 
            x.innerHTML = "Geolocation is not supported by this browser.";
          }
        }
        
        function showPosition(position) {
          x.innerHTML = "Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude;
          sendtourl = "/weather/"+position.coords.latitude+"/"+position.coords.longitude
          fetch(sendtourl).then((res)=>{
              return res.json()
          }).then((data)=>{
            document.getElementById("temp").innerText=data.main.temp
          })
        }
    
    
        </script>


    <div class="slidercontainer">  
        <% posts.forEach(function(post){ %>
        <div class="showSlide"> 
            <a href=<%=post.url %>> 
                <img src=<%=post.urltoimage %> </a>
            <div class="content"><%=post.title %> </div> <br>
            
        </div>  
        <%});%>

        <!-- Navigation arrows -->  
        <a class="left" onclick="nextSlide(-1)">❮</a>  
        <a class="right" onclick="nextSlide(1)">❯</a>  
        
        
    </div>  

    
  
    <script type="text/javascript">  
        var slide_index = 1;  
        displaySlides(slide_index);  
  
        function nextSlide(n) {  
            displaySlides(slide_index += n);  
        }  
  
        function currentSlide(n) {  
            displaySlides(slide_index = n);  
        }  
  
        function displaySlides(n) {  
            var i;
            var slidesToShow = 3;
            var slides = document.getElementsByClassName("showSlide");  
            if (n > slidesToShow) { slide_index = 1 }  
            if (n < 1) { slide_index = slidesToShow }  
            for (i = 0; i < slidesToShow; i++) {  
                slides[i].style.display = "none";  
            }  
            slides[slide_index - 1].style.display = "block";  
        }  
    </script>  
  
</body>  
</html>   