<!-- localhost:9001/weather/location -->

<html>
    <head></head>
    <p>Click the button to get your coordinates.</p>
    <button onclick="getLocation()">Try It</button>
    <p id="demo"></p>
    <p id="temp"></p>
    <script>
    var x = document.getElementById("demo");
    
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }
    
    function showPosition(position) {
      x.innerHTML = "Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude;
      sendtourl = "/weather/weather/"+position.coords.latitude+"/"+position.coords.longitude
      fetch(sendtourl).then((res)=>{
          return res.json()
      }).then((data)=>{
        document.getElementById("temp").innerText=data.main.temp
      })
    }


    </script>
    </body>
</html>