<!-- localhost:9001/user/login -->

<html>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  
  
      <meta charset="utf-8" />  
      <title>My Slider</title>  
      <style type="text/css">   
          .showSlide {  
              display: none  
          }  
              .showSlide img {  
                  width: 100%; 
                  max-height: 200px;
                  max-width: 400px;
              }  
          .slidercontainer {  
            width: 100%; 
              max-width: 400px; 
              max-height: 200px; 
              position: relative;  
              margin: auto;  
          }  
          .left, .right {  
              cursor: pointer;  
              position: absolute;  
              top: 50%;  
              width: auto;  
              padding: 16px;  
              margin-top: -22px;  
              color: white;  
              font-weight: bold;  
              font-size: 18px;  
              transition: 0.6s ease;  
              border-radius: 0 3px 3px 0;  
          }  
          .right {  
              right: 0;  
              border-radius: 3px 0 0 3px;  
          }  
              .left:hover, .right:hover {  
                  background-color: rgba(115, 115, 115, 0.8);  
              }  
          .content {  
              color: #eff5d4;  
              font-size: 30px;  
              padding: 80px 12px;  
              position: absolute;  
              top: 10px;  
              width: 100%;  
              text-align: center;  
          } 
          .description {  
              color: black;  
              font-size: 14px;  
              padding: 8px 12px;  
              top: 10px;  
              width: 100%;  
              text-align: center;  
          }   
          .active {  
              background-color: #717171;  
          }  
          .weather {  
              color: white;  
          }  
  
          .navbar {
        margin-bottom: 0;
        border-radius: 0;
      }
      
      /* Add a gray background color and some padding to the footer */
      footer {
        background-color: #f2f2f2;
        padding: 25px;
        position:absolute;
         bottom:0;
         width: 100%;
      }
  
          
  
      </style>  
<head>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">Update 24x7 News</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="/sports">Sports</a></li>
              <li><a href="/aboutus">About</a></li>
              <li><a href="/contactus">Contact</a></li>
              <div class = "weather"><li><p id="demo"></p></li></div>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="http://localhost:9002/index.html">Chat</a></li>
              <li><a href="/user/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
          </div>
        </div>
      </nav>
</head>

<body>
    <form method="POST" action="/user/login" id="loginForm">
        <p>
            <label>Email</label>
            <input type="text" id="email" name="email" placeholder="Enter valid email." />
        </p>
        <p>
            <label>Password</label>
            <input type="password" id="password" name="password" placeholder="Enter valid password." />
        </p>
        <button>Login</button>
    </form>

    <button id="getUser">Get user info</button>

    <button id="logout">Logout</button>

    <p id="profile"></p>

    <script>

        const loginForm = document.getElementById("loginForm");

        loginForm.addEventListener("submit", (event) => {
            console.log(event);
            event.preventDefault();

            const email = document.getElementById("email").value
            const password = document.getElementById("password").value

            console.log(email, password)

            fetch("/user/login", {
                method: "POST",
                headers: {
                    "content-type": "application/json"
                },
                body: JSON.stringify({
                    email: email,
                    password: password
                })
            })
                .then((response) => {
                    return response.json()
                })
                .then((data) => {
                    localStorage.setItem("token", data.token);
                })
        })

        document.getElementById("getUser").addEventListener("click", ()=>{
            fetch("/user/whoami", {
                method: "POST",
                headers: {
                    "content-type": "application/json",
                    "x-access-token" : localStorage.getItem("token")
                }
            })
                .then((response) => {
                    return response.json()
                })
                .then((data) => {
                    document.getElementById("profile").innerHTML = JSON.stringify(data);
                })
        })

        document.getElementById("logout").addEventListener("click", ()=>{
            localStorage.removeItem("token");
        })

        
    </script>
</body>
<footer class="container-fluid text-center">
    <a href="http://localhost:9001/aboutus">Developed by team HISSS</a>
</footer>

</html>