<!DOCTYPE html>  
<html> 
  <title>Update 24x7</title>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#">Update 24x7 News</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="http://localhost:9001/home">Home</a></li>
          <li><a href="http://localhost:9001/sports">Sports</a></li>
          <li><a href="http://localhost:9001/aboutus">About</a></li>
          <li><a href="http://localhost:9001/contactus">Contact</a></li>
          <div class = "weather"><li style="text-align: center;"><p id="demo"></p></li></div>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://localhost:9002/index.html">Chat</a></li>
          <li><a href="http://localhost:9001/user/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
    <head></head>
    <!-- <p>Click the button to get your coordinates.</p>
    <button onclick="getLocation()">Try It</button> -->
    <style>

.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

      /* Add a gray background color and some padding to the footer */
      footer {
      background-color: #f2f2f2;
      padding: 25px;
      margin-top: 200px;
      position:relative;
       bottom:0;
       width: 100%;
    }
    </style>
    <body onload="getLocation()"></body>
    <p id="demo"></p>
    <p id="temp"></p>

    <script>
    var x = document.getElementById("demo");
    
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }
    
    function showPosition(position) {
      x.innerHTML = "Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude;
      sendtourl = "/weather/"+position.coords.latitude+"/"+position.coords.longitude
      fetch(sendtourl).then((res)=>{
          return res.json()
      }).then((data)=>{
        document.getElementById("temp").innerText=data.main.temp
      })
    }


    </script>
    </body>

    <footer class="container-fluid text-center">
      <a href="http://localhost:9001/aboutus">Developed by team HISSS</a>
    </footer>
</html>