<!-- localhost:6969/user/signup -->

<html>
    <head>
        
    </head>
    <body>
        Weather page. Try go to /location or /weather.
        
    </body>
    <script>
        
    </script>
</html>